.primary-input {
  background: #f3f3f3;
  border-radius: 5px;
  border: none;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}

.input-wrapper {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-wrapper div {
  min-width: 280px;
}

.input-wrapper label {
    padding-top: 6px;
    margin-right: 10px;
}

.input-error {
    display: block;
    color: rgb(190, 91, 91);
    margin: 5px 0;
}

@media screen and (max-width: 1024px) {
  .input-wrapper div {
    min-width: 100%;
  }
}