.ChatList {
  grid-area: ChatList;
  background-color: #416ccc;
  padding: 10px;
  position: relative;
}

.TopWrapper {
  display: flex;
  align-items: center;
}

.TopWrapper input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.select {
  padding: 11px;
  background: #f3f3f3;
  border-radius: 5px;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.select option {
  font-weight: normal;
}

.ModalButton {
  margin-right: 10px;
  font-size: x-large;
  color: #fff;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease-in .2s;
}

.ModalButton:hover {
  opacity: 0.5;
  transition: opacity ease-in .2s;
}

.ModalForm {
  display: flex;
  flex-direction: column;
}
