.button-primary {
  background: linear-gradient(160.64deg, #2d9cdb 0%, #0098ee 0.01%, #54b6ed 100%);
  border-radius: 5px;
  border: none;
  padding: 12px;
  min-width: 170px;
  color: #fff;
  cursor: pointer;
  transition: opacity ease-in .2s;
}

.button-primary:hover {
  opacity: 0.7;
  transition: opacity ease-in .2s;
}
