.AuthLayuout {
  margin: 0 auto;
  width: 370px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10px;
}

.MainLayout {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'ChatList MessageField';
  height: 100vh;
}

@media screen and (max-width: 1024px) {
  .MainLayout {
    display: flex;
    position: relative;
  }
}


