.SignupLayuout {
  margin: 0 auto;
  width: 360px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MainLayout {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'ChatList MessageField';
  height: 100vh;
}

.Profile {
  grid-area: Profile;
}
